<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Gimnasio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymTic.App.Frontend.styles.css" asp-append-version="true" />
    
   
</head>
<body>
    <header>
        <nav class="navbar>
            <div class="container">
                
                <div class="menu">
                    <ul class="list">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Inicio</a>
                        </li>
                                                
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CrearCliente/CrearCliente">Registro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/BuscarCliente/BuscarCliente">Buscar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/EditarCliente/EditarCliente">Actualizar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Ayuda</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <a class="logo" asp-area="" asp-page="/Index">GYMTIC</a>
                
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container-footer">
            <div class="redes">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            &copy; 2022 - GymTic-4 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>