@page
@model IndexModel
@{
    ViewData["Title"] = "GIMNASIO";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDOS</h1>
    
</div>
<div class="text-second">
    <div class="subtitle">
        <h2>RUTINA</h2>
        <P>Prueba nuestra rutina y has ejercicio con tan solo un click. Sin tener que pagar. ¡Que esperas!</P>
    </div>
    <div class="subtitle">
        <h2>NUTRICION</h2>
        <P>Con nuestro plan de nutrición te hacemos seguimiento para hacerte llevar una dieta adecuada </P>
    </div>
    <div class="subtitle">
        <h2>PLAN SALUDABLE</h2>
        <P>En esta seccion encontraras los planes saludables para encontrar una vida sana y sin preocupaciones.</P>
    </div>

</div>
