@page
@model GymTic.App.Presentacion.Pages.IniciarSesionModel
@{
    ViewData["Title"] = "INICIAR SESION";
}
<div class="main">
    <h2>INICIAR SESION</h2>
    <div class="formulario">
        <form action="">
            <label for="GET-email">EMAIL:</label>
            <input id="GET-email" type="text" name="email">
            <label for="GET-clave">CLAVE:</label>
            <input id="GET-clave" type="password" name="clave">
            <input id="submit" type="submit" value="Iniciar Sesion">

        </form>
    </div>

</div>