@page
@model MyApp.Namespace.RegistroModel
@{
    ViewData["Title"] = "REGISTRO";
}
<div class="main">
    <h2>REGISTRATE</h2>
    <div class="formulario-registro">
        <form action="">
            <input class="input" id="GET-nombre" type="text" name="nombre" placeholder="Nombre">
            <input class="input" id="GET-nombre" type="text" name="nombre" placeholder="Telefono">
            <input class="input" id="GET-nombre" type="text" name="nombre" placeholder="Apellidos">
            <input class="input" id="GET-nombre" type="text" name="nombre" placeholder="Direccion">
            <input class="input" id="GET-nombre" type="text" name="nombre" placeholder="Edad">
            <input class="input" id="GET-nombre" type="text" name="nombre" placeholder="Peso">
            <input class="input" id="GET-nombre" type="text" name="nombre" placeholder="E-mail">
            <input class="input" id="GET-nombre" type="text" name="nombre" placeholder="Altura">
            <input class="input" id="GET-nombre" type="text" name="nombre" placeholder="Contraseña">
            <label for="genero">Genero:</label>
            <select name="genero" id="genero">
                <option selected> </option>
                <option value="f">Femenino</option>
                <option value="m">Masculino</option>
            </select>
            <input id="submit" type="submit" value="Registrarse">

        </form>
    </div>

</div>