@page
@model GymTic.App.Frontend.Page.CrearClienteModel
@{
    ViewData["Title"]="Crear Cliente";
}


<h1 class="test-info" style="text-aling: center;">Registro</h1>

<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container" style="padding: 60px;" >
            
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="">Nombre</label>
                    </div>
                    <div class="col-sm-2">
                        
                    </div>
                </div>
            </div>
        
        </div>
    </form>
</div>